.card_desc {
  font-weight: var(--_1hrp33e1b);
  letter-spacing: var(--_1hrp33e1n);
  line-height: var(--_1hrp33e1j);
  margin-bottom: var(--_1hrp33et);
  font-size: var(--_1hrp33e16);

}

.card_team {
  font-weight: var(--_1hrp33e1e);
  font-style: normal;
  font-size: var(--_1hrp33e14);
  letter-spacing: var(--_1hrp33e1p);
  margin-bottom: var(--_1hrp33es);
  text-transform: uppercase;
}